<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_2048_WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_2048_WinForm.Properties.Settings>
            <setting name="bacgroundImageIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isRevoke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backgroundMusicIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="musicVolume" serializeAs="String">
                <value>0</value>
            </setting>
        </_2048_WinForm.Properties.Settings>
    </userSettings>
</configuration>